{% extends 'base.html' %}
{% block content %}

 <!-- Crud page wrapper -->
 <div class="crud-wrapper">
    <!-- left-sidebar -->
    <div class="left-sidebar">
        <ul>
            <li><a href="create.html">Create Post</a></li>
            <li><a href="#">Manage Posts</a></li>
        </ul>
    </div>
    <!-- //left-sidebar -->

    <!-- crud-content -->
    <div class="crud-content">
        <h2 class="page-title">Create a New Post</h2>
        <form action="" method="post">
            {% csrf_token %}
            <div>
                <label for="title">Title</label>
            <!-- <input type="text" name="title" class="text-input"> -->
                {{form.title}}
            </div>
            <div>
                <label for="body">Body</label>
                <!-- <textarea name="desc" id="body" class="ck"></textarea> -->
                {{form.desc}}
            </div>
            <div>
                <label for="topic">Topic</label>
                <!-- <select name="topic" class="text-input">
                    <option value="Fiction">Fiction</option>
                    <option value="Motivation">Motivation</option>
                    <option value="Biography">Biography</option>
                    <option value="Life Lessons">Life Lessons</option>
                    <option value="Technology">Technology</option>
                </select> -->
                {{form.category}}
            </div>
            <div>
                <input type="submit" class="btn btn-big" value="Create">
            </div>
            
        </form>
    </div>

</div>
<!-- crud-wrapper -->

{% endblock %}