{% extends 'base.html' %}
{% block content %}
    
    <div class="auth-content">
            <form action="" method="post">
                {% csrf_token %}
                <h2 class="form-title">Login</h2>
            <div>
                <label for="username">Username</label>
                <input type="text" name="username" class="text-input">
            </div>

            <div>
                <label for="password">Password</label>
                <input type="password" name="password" class="text-input">
            </div>

            <div>
                <input type="submit" class="btn btn-big" name="register-btn" value="Login">
            </div>
            <p>Don't have an account? <a href="{% url 'register' %}">Sign up</a></p>
    
            </form>
    </div>
    
{% endblock %}